@{ 
    ViewData["Title"] = "Home";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Bookstore @ViewData["property1"]</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus gravida purus a ipsum consequat,
            mattis tempus leo vulputate. Ut eleifend, magna sit amet dapibus blandit, dolor ligula imperdiet diam,
            non mollis turpis arcu quis mauris. Duis commodo nisi vel tortor lobortis, blandit tincidunt nisi
            dignissim. Aenean justo risus, fringilla vel est vel, placerat gravida orci.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h2>Top Books</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/images/logo.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Detail</a>
                            </div>
                            <small class="text-muted">Auther Name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/images/logo.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Detail</a>
                            </div>
                            <small class="text-muted">Auther Name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/images/logo.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Detail</a>
                            </div>
                            <small class="text-muted">Auther Name</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{
<script>
    
</script>
}
