
@{
    Layout = "_Layout";
}

    <img src="~/images/logo.png" class="logo" alt="Logo" />
    <h1 class="h1">Welcome to the book store aplication.</h1>
    <h2 class="h2">This is update without rebuild.</h2>
    <p>This is the first p tag.</p>

