
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to the book stsore aplication.</h1>
    <h1>@DateTime.Now.ToString("dd-M-yy")</h1>
    <p>Sum = @(4+4)</p>

    @{ 
        int a = 10;
        int b = 22;
    }
    <p>This is the first p tag.</p>
</body>
</html>
