
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body>
    <img src="~/images/logo.png" class="logo" alt="Logo"/>

    <h1>Welcome to the book stsore aplication.</h1>
    <p>This is the first p tag.</p>
</body>
</html>
