
@{
    ViewData["Title"] = "Add New Book";
    Layout = "_Layout";
}
@model BookModel
<div class="container">
    <h3 class="display-5">Add New Book</h3>
    @if (ViewBag.IsSuccess == true)
    {
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Congratulation! </strong>You addded new book successfully.
    <p>Click <a asp-controller="book" asp-action="getbook" asp-route-id="@ViewBag.BookId">here</a> to see details.</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
    }

    
<div class="row">
    <div class="col-md-12 align-middle">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Language"></label>
                <select asp-for="Language" class="form-control" required>
                    <option value="">Choose book language</option>
                    <option>English</option>
                    <option>Hindi</option>
                    <option>Myanmar</option>
                </select>
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPages"></label>
                <input asp-for="TotalPages" class="form-control">
                <span asp-validation-for="TotalPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-outline-primary" value="Add Book" />
            </div>
        </form>
    </div>
</div>
</div>

